@font-face {
   font-family: minhafonte;
   src: url(font/LLPIXEL3.ttf);
}

body {
   font-size: 10vh;
   color: #6D6592;
   margin: 0;
   padding: 0;
   background: #C6C1BB;
   font-family: minhafonte;
   display: flex;
   justify-content: center;
}

.total {
   display: relative;
   justify-content: center;
   text-align: center;
}

.c {
   margin-bottom: -2.5vh;
}

canvas {
   background-color: #ABCB99;
   background-size: cover;
   margin-top: 2vh;
   min-width: 44vh;
   width: auto;
   border: 2vh solid #54455C;
   border-top: 1vh solid #54455C;
   border-bottom: 1vh solid #54455C;
   border-radius: 2vh;
   image-rendering: pixelated;
   box-shadow: 0 0.5vh 0 #181818;
}

.score, .speed {
   border-top: none;
   position: absolute;
   margin-top: -6vh;
   text-align: center;
   width: 20vh;
   height: 4vh;
   display: block;
   color: black;
   font-size: 2.5vh;
   right: 53%;
}
.speed {
   left: 53%;
}

@keyframes type {
   from {
      width: 0;
   }
}

.title {
   display: block;
   width: 40vh;
   color: #8F4135;
   font-size: 5vh;
   position: absolute;
   top: 30%;
   left: 50%;
   white-space: nowrap;
   overflow: hidden;
   transform: translate(-50%, -50%);
   animation: type 2s steps(60, end);
}
.pause {
   position: absolute;
   top: 90vh;
   left: 16vh;
   display: flex;
   justify-content: center;
}

.buttons {
   display: block;
   justify-content: center;
   text-align: center;
}

.middle {
   justify-content: center;
   display: flex;
}

.options {
   display: flex;
   justify-content: center;
   margin-top: 2vh;
}

.inputs {
   margin-top: 7vh;
   display: flex;
   justify-content: center;
}

@media screen and (min-width: 30em) and (orientation: landscape) {
   .inputs {
      display: none;
   }

   .title {
      top: 45%;
      font-size: 7vh;
   }

   .score, .speed {
      margin-top: -7.5vh;
      font-size: 4vh;
   }
}

.DPAD {
   margin-right: 9vh;
}

.dpad {
   display: flex;
   justify-content: center;
   text-align: center;
}

.pad,
.cpad {
   position: relative;
   display: inline-block;
   margin: -1vh;
}

.restart {
   position: relative;
   display: inline-block;
   margin-left: 2vh;
   margin-right: 2vh;
}

.action {
   position: relative;
   display: inline-block;
   top: 2vh;
}

.pad text {
   color: #342D39;
   font-family: Helvetica, sans-serif;
   font-weight: bold;
   width: 7vh;
   height: 7vh;
   font-size: 5vh;
   text-align: center;
   text-decoration: none;
   background-color: #54455C;
   display: block;
   position: relative;
   padding: 1vh;

   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   text-shadow: 0px 1px 0px #000;
   filter: dropshadow(color=#000, offx=0px, offy=1px);

   -webkit-box-shadow: inset 0 1px 0 #54455C, 0 10px 0 #54455C;
   -moz-box-shadow: inset 0 1px 0 #54455C, 0 10px 0 #54455C;
   box-shadow: inset 0 1px 0 #54455C, 0 1.5vh 0 #342D39;

   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 1vh;
}

.cpad text {
   color: #342D39;
   font-family: Helvetica, sans-serif;
   font-weight: bold;
   width: 7vh;
   height: 7vh;
   font-size: 5vh;
   text-align: center;
   text-decoration: none;
   background-color: #54455C;
   display: block;
   position: relative;
   padding: 1vh;
   z-index: 1;

   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   text-shadow: 0px 1px 0px #000;
   filter: dropshadow(color=#000, offx=0px, offy=1px);

   -webkit-box-shadow: inset 0 1px 0 #54455C, 0 10px 0 #54455C;
   -moz-box-shadow: inset 0 1px 0 #54455C, 0 10px 0 #54455C;
   box-shadow: inset 0 1px 0 #54455C, 0 0px 0 #54455C;

   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 1vh;
}

.pad text:active {
   top: 1.5vh;
   background-color: #54455C;

   -webkit-box-shadow: inset 0 0px 0 #342D39, inset 0 -3px 0 #D85150;
   -moz-box-shadow: inset 0 0px 0 #342D39, inset 0 -3px 0 #D85150;
   box-shadow: inset 0 0px 0 #342D39, inset 0 -3px 0 #342D39;
}

.pad:after {
   content: "";
   height: 100%;
   width: 100%;
   padding: 4px;
   position: absolute;
   bottom: -2.5vh;
   left: -4px;
   z-index: -1;
   background-color: black;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 1vh;
}

.restart text {
   color: #632B27;
   font-family: Helvetica, sans-serif;
   font-weight: bold;
   width: 6vh;
   height: 1vh;
   font-size: 2vh;
   line-height: 1vh;
   text-align: center;
   text-decoration: none;
   background-color: #8F4135;
   display: block;
   position: relative;
   padding: 2vh;

   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   text-shadow: 0px 1px 0px #000;
   filter: dropshadow(color=#000, offx=0px, offy=1px);

   -webkit-box-shadow: inset 0 1vh 0 #8F4135, 0 10px 0 #8F4135;
   -moz-box-shadow: inset 0 1px 0 #8F4135, 0 10px 0 #8F4135;
   box-shadow: inset 0 1px 0 #8F4135, 0 1vh 0 #632B27;

   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 2vh;
}

.restart text:active {
   top: 1.5vh;
   background-color: #632B27;

   -webkit-box-shadow: inset 0 1px 0 #632B27, inset 0 -3px 0 #191719;
   -moz-box-shadow: inset 0 1px 0 #632B27, inset 0 -3px 0 #191719;
   box-shadow: inset 0 1px 0 #632B27, inset 0 -3px 0 #242527;
}

.restart:after {
   content: "";
   height: 5vh;
   width: 100%;
   padding: 4px;
   position: absolute;
   bottom: -2vh;
   left: -4px;
   z-index: -1;
   background-color: black;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 2vh;
}

.action text {
   color: #632B27;
   font-family: Helvetica, sans-serif;
   font-weight: bold;
   width: 6vh;
   height: 6vh;
   font-size: 6vh;
   line-height: 5vh;
   text-align: center;
   text-decoration: none;
   background-color: #8F4135;
   display: block;
   position: relative;
   padding: 2vh;

   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   text-shadow: 0px 1px 0px #000;

   -webkit-box-shadow: inset 0 1px 0 #8F4135, 0 1px 0 #8F4135;
   -moz-box-shadow: inset 0 1px 0 #8F4135, 0 1px 0 #8F4135;
   box-shadow: inset 0 1px 0 #8F4135, 0 1vh 0 #632B27;

   -webkit-border-radius: 5vh;
   -moz-border-radius: 5vh;
   border-radius: 5vh;
}

.action text:active {
   top: 1.5vh;
   background-color: #632B27;

   -webkit-box-shadow: inset 0 0px 0 #632B27, inset 0 -3px 0 #191719;
   -moz-box-shadow: inset 0 0px 0 #632B27, inset 0 -3px 0 #191719;
   box-shadow: inset 0 0px 0 #632B27, inset 0 -3px 0 #242527;
}

.action:after {
   content: "";
   height: 11vh;
   width: 11vh;
   padding: 0.5vh;
   position: absolute;
   bottom: -2.5vh;
   left: -1vh;
   z-index: -1;
   background-color: black;
   -webkit-border-radius: 100vh;
   -moz-border-radius: 100vh;
   border-radius: 100vh;
}